.about-intro {
  background-color: #fff; 
  max-width: 90%;
  margin: 2rem auto;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(20, 64, 42, 0.6);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-intro:hover {
  transform:  translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.about-intro h1 {
  font-family: 'Cardo', serif;
  font-size: 2.8rem;
  color: #14402a;
  margin-bottom: 1rem;
}

.about-intro p {
  font-size: 1.1rem;
  color: #333232;
}

.about-values {
  background: linear-gradient(to bottom, #fff7f0, #f5eadc);
  max-width: 90%;
  margin: 2rem auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  border: 2px solid rgba(20, 64, 42, 0.6);
}

.about-values h2 {
  font-family: 'Cardo', serif;
  font-size: 2.2rem;
  color: #14402a;
  margin-bottom: 2rem;
}

.about-values h5 {
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
}

.about-values p {
  font-size: 0.95rem;
  color: #fff;
}

.about-values .col-md-4 {
 background-color:  #194f34;
  border-radius: 15px;
  padding: 2rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(0.95);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.about-values .col-md-4:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 102, 24, 0.3); /* marrón translúcido */
}

.about-values img {
  border-radius: 12px;
  transition: transform 0.4s ease;
}

.about-values .col-md-4:hover img {
  transform: scale(1.05);
}

.seccion-foto-fogata {
  background-image: url('../assets/imagen/fogata.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px; /* ajustable según tu diseño */
  width: 100%;
  position: relative;
  margin-top: -32px; /* opcional para unir mejor con la sección anterior */
  margin-bottom: -50px;
  /* Efecto profesional con overlay oscuro sutil */
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-foto-fogata::after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* oscurece un poco para dar dramatismo */
}