.about-intro {
  background-color: rgba(200, 150, 75, 0.356); 
  max-width: 90%;
  margin: 2rem auto;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(20, 64, 42, 0.6);
}

.about-intro h1 {
  font-family: 'Cardo', serif;
  font-size: 2.8rem;
  color: #14402a;
  margin-bottom: 1rem;
}

.about-intro p {
  font-size: 1.1rem;
  color: #444;
}

.about-values {
  background: linear-gradient(to bottom, #fff7f0, #f5eadc);
  max-width: 90%;
  margin: 2rem auto;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

.about-values h2 {
  font-family: 'Cardo', serif;
  font-size: 2.2rem;
  color: #14402a;
  margin-bottom: 2rem;
}

.about-values h5 {
  font-weight: 600;
  color: #333;
  font-size: 1.2rem;
}

.about-values p {
  font-size: 0.95rem;
  color: #555;
}

.about-values .col-md-4 {
  background-color: rgba(245, 234, 220, 0.9); /* beige suave */
  border-radius: 15px;
  padding: 2rem 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.about-values .col-md-4:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(102, 51, 0, 0.3); /* marrón translúcido */
}

.about-values img {
  border-radius: 12px;
  transition: transform 0.4s ease;
}

.about-values .col-md-4:hover img {
  transform: scale(1.05);
}

