.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem;
  background-color: #fff;
}

.navbar-nav .nav-link {
  color: white;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.07); /* Agranda levemente la letra */
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Fondo personalizado reutilizable */
.bg-custom {
  background-color: #14402a !important;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Logo Navbar */
.logo {
  height: 53px;
  object-fit: contain;
}

/* Botón personalizado */
.btn-custom {
  background-color:  #14402a; /* Verde bosque translúcido */
  color: #fff;
  padding: 12px 25px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: rgba(9, 53, 21, 0.9);
  color: #fff;
}

body {
  background: linear-gradient(-45deg, #b9690d, #d9c5b2, #e8ded1, #f5f1ea);
  background-size: 400% 400%;
}

.footer-custom {
  background-color: #14402a;
  color: #fff;
  height: auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-custom a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-custom a:hover {
  color: #b9fbc0;
}